<main>

  <h1>MarketWatch Lite</h1>

  @if (loading) {
    <p>Cargando criptomonedas...</p>
  }

  @if (errorMessage) {
    <p>{{ errorMessage }}</p>
  }

  @if (!loading && !errorMessage) {

    @for (crypto of cryptos; track crypto.id) {

      <article>

        <img
          [src]="crypto.image"
          [alt]="crypto.name"
          width="40"
        >

        <h2>
          {{ crypto.name }}
        </h2>

        <p>
          {{ crypto.symbol.toUpperCase() }}
        </p>

        <p>
          Precio: ${{ crypto.current_price }}
        </p>

        <p>
          Cambio 24h:
          {{ crypto.price_change_percentage_24h }}%
        </p>

      </article>

    } @empty {

      <p>No hay activos disponibles</p>

    }

  }

</main>