<h1>MarketWatch Lite</h1>

<input
  type="text"
  placeholder="Buscar por nombre o símbolo"
  [value]="searchTerm"
  (input)="searchTerm = $any($event.target).value; filterCryptos()"
>

@if (loading) {
  <p>Cargando criptomonedas...</p>
}

@if (errorMessage) {
  <div>
    <p>{{ errorMessage }}</p>

    <button
      type="button"
      (click)="loadCryptos()"
    >
      Reintentar
    </button>
  </div>
}

@if (!loading && !errorMessage) {

  @for (crypto of filteredCryptos; track crypto.id) {

    <article>

      <img
        [src]="crypto.image"
        [alt]="crypto.name"
        width="40"
      >

      <h2>{{ crypto.name }}</h2>

      <p>
        {{ crypto.symbol.toUpperCase() }}
      </p>

      <p>
        Precio: ${{ crypto.current_price }}
      </p>

      <p>
        Cambio 24h:
        {{ crypto.price_change_percentage_24h }}%
      </p>

    </article>

  } @empty {

    <p>No se encontraron criptomonedas</p>

  }

}